###Files and folders specified here will never be tracked.

#Ignore everything in datafolder and subdirectories
data/**/*

#Ignore admin directories

data/mode.txt

#Ignore compiled files and other files generated during compilation.

hippie.sublime-project
hippie.sublime-workspace
auth.log
compile.sh

tools/Runtime\ Condenser/Output.txt
tools/Runtime\ Condenser/Input.txt
